body{
    
    margin: 0px;
}
#screen{
    height: 100vh;
    width: 100vw;
    flex-flow: column;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}
#card {
    background-color: rgb(192, 185, 185);
}