html{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
    width: 100vw;

}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 300px;
    
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 218, 217);
    
    
}
#card{
    display: flex;
    width: 100%;
    max-width: 600px;
    
    flex-direction:column;
    background-color: white;
    padding: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 12px 12px 7px 5px rgb(0, 150, 199,0.2);
}

#username{
    margin: 1em;
    border: none;
    border-bottom: solid 2px gray;
    width: 400px;
    height: 70px;
    font-size: 1.5em;
}
#password{
    margin: 1em;
    border: none;
    border-bottom: solid 2px gray;
    width: 400px;
    height: 70px;
    font-size: 1.5em;
}
button{
    cursor: pointer;

    margin: 3em;
    background: cornflowerblue;
    outline: none;
    border: none;
    border-radius: 30px;
 
    width: 400px;
    height: 70px;
    
    font-size: 1.5em;
    color: white
    
}